PROJECT_NAME=watch_shop
APP_ENV=production
SERVER_IP=120.53.87.191
PUBLIC_BASE_URL=http://120.53.87.191

MYSQL_DATABASE=watch_shop
MYSQL_USER=watch_shop
MYSQL_PASSWORD=change_me_db_password
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_PORT=3306

REDIS_PORT=6379

API_PORT=8000
NGINX_PORT=80
API_APP_NAME=watch-shop-api
API_DEBUG=false
API_SECRET_KEY=change-me-to-a-long-random-string
API_V1_PREFIX=/api/v1
SQLALCHEMY_ECHO=false

ADMIN_PORT=5173
MINIPROGRAM_H5_PORT=5174

ADMIN_API_BASE_URL=http://120.53.87.191
MINIPROGRAM_API_BASE_URL=http://120.53.87.191
